.hero {
    background-color: rgb(185, 224, 196)
}



#map {
    height: 1000px;
    width: 100%;
}

#getLocation {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#curr {
    padding: 25px;
    font-size: 25px;
    text-align: center;
    
}

#day {
    padding: 25px;
    
    text-align: center;
}