:root {
    --primary-color: rgb(185, 224, 196)
    
}
body {
    background-image: url("../assets/bicycle-2540179_960_720.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin:auto;
    

}
.hero {
    background-color: rgb(185, 224, 196)
  }

#header{
    color: black;
    font-weight: bolder;
}
  
  #map {
      height: 400px;
      width: 100%;
      
    }
  #turn {
    height: 100px;
    width: 100%;
  }
  
  
  #getLocation {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .hero {
    background-color: rgb(185, 224, 196)
  }
  
  #icon {
    display: none
  }
  
  #ic1 {
    display: none;
  }
  
  #ic2 {
    display: none;
  }
  
  #ic3 {
    display: none;
  }
  
  #getLocation {
    display: block;
    margin-right: auto;
    margin-left: auto;
    
  }
  
  #curr {
    padding: 25px;
    font-size: 25px;
    text-align: center;
    
  }
  
  #day {
    padding: 25px;
    
    text-align: center;
  }
  #cityName {
    text-align: center;
  }

  .hero-body {
      background-image: url("./cycling-1533270_1920.jpg");
      height: 600px;
      background-size: cover;
      background-position: left;
      position: relative;
      border: black 15px;
  }
  .title {
      background-color:rgb(185, 224, 196) ;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
  }
  
  #todayWeather {
      background-color: rgb(168, 162, 162);
      opacity: 0.8;
  }
  .column {
      opacity: 1;
  }
  .card {
      border-radius: 15px;
      background-color: var(--primary-color) ;
      opacity: 1;
  }
  .card-hearder-title {
      border-radius: 15px;
      opacity:0.8 ;
  }

  #intro-text {
      color: black;
      font-weight: bolder;
      background-color:rgb(168, 162, 162) ;
      opacity: 0.8;
      border-radius: 10px;
  }
  #icon-img {
      font-weight: bolder;
  }
  #day {
      color: black;
      font-weight: bolder;
  }
  #current {
      color:black;
      font-weight: bolder;
      text-align: center;
  }
 #CurrentConditions{
     color: black;
     font-weight: bolder;
 }
 #mini-direction{
    color: black;
    font-weight: bolder;
    background-color:rgb(168, 162, 162) ;
    opacity: 0.8;
    border-radius: 10px;
    
 }
 .subtitle {
     color: var(--primary-color);
     font-weight: bolder
 }
 #weather-head{
    color: black;
    font-weight: bolder;
 }
 #turns {
    color: black;
    font-weight: bolder;
    background-color:rgb(168, 162, 162) ;
      opacity: 0.8;
      border-radius: 10px;
 }

 #turn-directions {
   display: block;
   margin-left: auto;
   margin-right: auto;

 }
 
 
